.myscreen {
    display: flex;
    padding-left: 60px;
    padding-top: 60px;

    .divbir {

        width: 270px;
        height: 400px;
        border: 1px solid rgb(112, 109, 109);
        border-radius: 5px;

        .sekilbir .sekilimbir {

            width: 269px;
            height: 200px;

        }

        .birfoter {

            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

        .birfoter .butonbir {

            margin-top: 30px;
            font-size: 15px;
            border: 1px solid gray;
            border-radius: 4px;
            padding: 5px;

        }

    }

    .generaldiv2 {
        padding-left: 80px;
        padding-top: 0px;

        .diviki {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekiliki .sekilimiki {

                width: 280px;
                height: 200px;

            }

            .ikifoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .ikifoter .butoniki {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

    .generaldiv3 {
        padding-left: 80px;
        padding-top: 0px;

        .divuc {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekiluc .sekilimuc {

                width: 280px;
                height: 200px;

            }

            .ucfoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .ucfoter .butonuc {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

    .generaldiv4 {
        padding-left: 80px;
        padding-top: 0px;

        .divdord {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekildord .sekilimdord {

                width: 280px;
                height: 200px;

            }

            .dordfoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .dordfoter .butondord {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

}

.myscreen2 {


    display: flex;
    padding-left: 60px;
    padding-top: 60px;
    margin-bottom: 50px;


    .generaldiv5 {
        padding-left: 0px;
        padding-top: 0px;

        .divbes {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekilbes .sekilimbes {

                width: 280px;
                height: 200px;

            }

            .besfoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .besfoter .butonbes {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

    .generaldiv6 {
        padding-left: 80px;
        padding-top: 0px;

        .divalti {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekilalti .sekilimalti {

                width: 280px;
                height: 200px;

            }

            .altifoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .altifoter .butonalti {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

    .generaldiv7 {
        padding-left: 80px;
        padding-top: 0px;

        .divyeddi {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekilyeddi .sekilimyeddi {

                width: 280px;
                height: 200px;

            }

            .yeddifoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .yeddifoter .butonyeddi {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }

    .generaldiv8 {
        padding-left: 80px;
        padding-top: 0px;

        .divsekkiz {

            width: 280px;
            height: 400px;
            border: 1px solid rgb(112, 109, 109);
            border-radius: 5px;

            .sekilsekkiz .sekilimsekkiz {

                width: 280px;
                height: 200px;

            }

            .sekkizfoter {

                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }

            .sekkizfoter .butonsekkiz {

                margin-top: 30px;
                font-size: 15px;
                border: 1px solid gray;
                border-radius: 4px;
                padding: 5px;

            }
        }

    }



}